/* Define color variables */
:root {
    --main-bg-color: #f0f0f0; /* Light gray background */
    --base-bg-color: #EEEDE7;
    --base-border-color: #189AB4;
    --secondary-bg-color: #188EB4; /* Scallop Seashell background color */
    --text-color: #000; /* Black text color */
    --secondary-text-color: aliceblue; 
    --button-bg-color: #868B8E; /* Navy Blue background color */
    --button-text-color: white; /* Baby Blue text color */
    --checkbox-bg-color: var(--base-bg-color); /* Use secondary background color for checkboxes */
    --checkbox-border-color: #868B8E; /* Grey border for checkboxes */
    --checkbox-checked-bg-color: #868B8E; /* Change background color when checked */
    --garbage-icon-color: darkgrey;
}

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply a blue-based color scheme */
body {
    background-color: var(--main-bg-color);
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: var(--secondary-bg-color);
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Align items on both ends of the header */
    align-items: center; /* Center items vertically within the header */
}

header h1 {
    color: var(--secondary-text-color);
    margin: 0;
    font-size: 24px;
}

/* Footer styles */
footer {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    margin-top:2px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: var(--base-border-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


header nav {
    display: flex;
    gap: 20px;
    color: var(--secondary-text-color);
}

header a {
    color: var(--secondary-text-color);
    text-decoration: none;
    cursor: pointer;
}

/* Popup styles (initially hidden) */
.popup_window {
    position: absolute;
    width: 25%;
    background-color: var(--main-bg-color);
    display: none; /* Initially hide the popup */
    padding: 20px; /* Add padding for content */
    border: 1px solid var(--base-border-color);
    right: 20px; /* Adjust the right distance as needed */
    top: 70px; /* Add a top distance if necessary */
    z-index: 1001; 
}

/* Style for the close button */
.down-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color:var(--secondary-bg-color)
}



/* Container styles */
.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

/* Left sidebar styles */
.left {
    background-color: var(--base-bg-color);
    border: 1px solid var(--base-border-color);
    border-radius: 5px;
    padding: 10px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: left;    
    margin-top: 3px;
}


/* Right content styles */
.right {
    margin-top: 3px;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    height: 88vh;
}


/* Menu styles */


.menu-icons {
    font-size: 24px; /* Adjust icon size as needed */
    cursor: pointer;
    margin-right: 20px; /* Adjust spacing between icons as needed */
    margin-left: 10px

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Adjust spacing as needed */
}

.menu-icon:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

#school-info-icon:hover {
    color: blue; /* Change color on hover for the school info icon */
}

#school-info-content {
    max-height: 95vh; /* Adjust the maximum height as needed */
    overflow-y: auto; Enable vertical scrolling when content overflows
    /* Add any other necessary styles */
}

#filter-icon:hover {
    color: blue; /* Change color on hover for the filter icon */
}

/* Section styles */
.section {
    width: 90%;
    border: 1px solid var(--base-border-color);
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.menu-section {
    background-color: #EEEDE7;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menu-section-header h2 {
    margin-top: 10px;
}


/* Initially hide the content of the sections */
.menu-section-content {
    display: none;
}

.placeholder {
    color: blue;
    /* Add any other styles you want for blue text */
}


/* Search box container styles */
.search-box-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/* Map styles */
#map {
    height: 88vh;
    border-radius: 5px;
}



/* Marker cluster styles */
.marker-cluster {
    background-color: green;
    opacity: 0.8;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}

/* Vertically center text within marker cluster */
.marker-cluster span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the search box itself */
.leaflet-control-geocoder-form input[type="text"] {
    width: 200px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-bottom: 10px;
margin-top:10px;
margin-left:20px
}

/* "Add Filter" button styles */
.add-filter-btn {
    background-color: var(--secondary-bg-color);
    color: var(--button-text-color);
    padding: 5px 0;
    border: none;
    cursor: pointer;
	margin-top: 10px;
    margin-bottom: 10px;
	margin-right: 15px;
    border-radius: 5px;
    width: 40%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Filter dropdown container styles */
#filter-dropdown-container {
    padding: 5px;
    margin-bottom: 10px;
    align-items: center;
    width: 95%;
}

/* Filter dropdown styles */

.dropdown {  
	width: 45%
}

.filter-dropdown {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--base-border-color);
}

/* Filter select styles */
.filter-select {
    padding: 5px;
    border: 1px solid var(--base-border-color);
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    font-size: 18px;
	width: 60%
}

.fill-select {
    padding: 5px;
    border: 1px solid var(--base-border-color);
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    font-size: 18px;
	width: 90%
}



/* Filter options styles */
.filter-options {
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Checkbox container styles */
.checkbox {
    align-items: left;
    margin-bottom: 5px;
}

/* Checkbox input styles */
.checkbox input[type="checkbox"] {
    margin-right: 5px;
    background-color: var(--checkbox-bg-color);
    border: 1px solid var(--checkbox-border-color);
    border-radius: 5px;
    width: 18px;
    height: 18px;
}

/* Checkbox checked styles */
.checkbox input[type="checkbox"]:checked {
    background-color: var(--checkbox-checked-bg-color);
}

/* Checkbox label styles */
.checkbox label {
    color: var(--text-color);
}

/* Garbage icon styles */
.garbage-icon {
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
    color: var(--garbage-icon-color);
}
